* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8a898a 0%, #b5a4ff 100%);
    padding: 20px;
}

.card {
    background-color: #e8f7f0;
    max-width: 1000px;
    padding: 45px;
    border-radius: 24px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.05);
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

header h1 {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 10px;
    font-family: Jetbrains system-ui;
    margin-top: 20px;

}

.subtitle {
    font-size: 1.2rem;
    color: #4a5a54;
    line-height: 1.4;
    margin-bottom: 25px;
}

.content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: left;
    flex: 1;
    text-align: left;
}

.image-wrapper {
    width: 100%;
    max-width: 250px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
}

.profile-img {
    width: 100%;
    display: block;
    object-fit: cover;
    
}